---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1>Three Things I Never Leave the House Without</h1>

<ul>
    <li><a href="items/wallet">My Wallet</a></li>
    <li><a href="items/keys">My Keys</a></li>
    <li><a href="items/skateboard">My Skateboard</a></li>
</ul>