<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/styles/screen.css">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/" title="My Essentials">My Essentials</a></li>
    </ul>
  </nav>
    {{ content }}
  <footer>
    © {{ "now" | date: "%Y" }} My 11ty Site
  </footer>
</body>
</html>