body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #A63A50;
    background: #F0E7D8;
    padding: 0 40px;
    text-align: center;
}

nav {
    margin: 40px auto 0 auto;
    width: 250px;
    border-radius: 50px;
    background: #AB9B96;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: #A63A50;
    text-decoration: none;
    font-size: 1.2em;
}

h1 {
    font-size: 8em;
    letter-spacing: -2px;
}

h1 strong {
    background: rgb(34,193,195);
    background: linear-gradient(45deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

img.about {
    opacity: 0.5;
}

.essential_images {
    width: 300px;
}

#homepage_title {
    margin-top: 20px;
    margin-bottom: 20px;
}

#essentials_list {
    list-style-type: none;
    font-size: 36pt;
    margin:0px;
}

#essentials_list li {
    margin-top: 10px;
}

#essentials_list li a {
    color: #A63A50;
}

footer {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #F0E7D8;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

.essentials_title {
    margin-top: 20px;
    margin-bottom: 20px;
}